body {
    font-family: "VT323", monospace;
    font-size: 20px;
    background-size: cover;
    color: #FDFDFD;
    margin: 0;
    padding: 0;
    background-image: url("../images/image \(3\).png");
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #fffcf7c0;
}

h1 {
    margin: 0;
    font-size: 40px;
    color: #fcf5ff;
    text-shadow: 
        -2px -2px 0 #4518A6,  
        2px -2px 0 #4518A6,
        -2px 2px 0 #4518A6,
        2px 2px 0 #4518A6;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #4518A6;
    font-weight: bold;
    font-size: 25px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    padding: 20px;
}

.lobby-selection {
    background-color: #9B7CDF;
    padding: 0px;
    text-align: center;
    width: 150%;
    max-width: 1000px; /* Aumenta el ancho máximo del contenedor */
    margin-top: -40px;
}

.game-room-list {
    max-height: 350px; /* Ajusta la altura máxima del contenedor */
    overflow-y: auto;  /* Habilita la barra de desplazamiento vertical cuando sea necesario */
    margin-bottom: 10px;
    padding: 0;
    border: 1px solid #FDFDFD;
    background-color: #F5C6D0; /* Color rosado más fuerte */
    color: #000000;
    border-radius: 0; /* Sin bordes redondeados */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre cada partida */
    margin-top: -10px;
}

.game-room-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #D36F6F; /* Borde tipo tabla en color rosado */
    background-color: #F9D9E1; /* Color rosado suave */
    color: #000000;
    margin-bottom: 2px;
}

.game-room-item a {
    text-decoration: none;
    color: #4518A6;
    font-weight: bold;
}

.create-game-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: violet;
    color: #FDFDFD;
    font-size: 30px;
    cursor: pointer;
    border: none;
    font-family: "VT323", monospace;
}

.create-game-button:hover {
    background-color: #C6369C;
}
